<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetMvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="AspNetWebApi" version="4.0.20710.0" targetFramework="net40" />
  <package id="AspNetWebApi.Data" version="4.0.20221.15125" targetFramework="net40" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" />
  <package id="jQuery" version="1.7.2" />
  <package id="jQuery.Ajax.Unobtrusive" version="2.0.20126.16343" />
  <package id="jQuery.Color" version="1.0" />
  <package id="jQuery.UI.Combined" version="1.8.11" />
  <package id="jQuery.Validation" version="1.8.1" />
  <package id="jQuery.Validation.Unobtrusive" version="2.0.20126.16343" />
  <package id="json2" version="1.0.2" />
  <package id="knockoutjs" version="2.0.0.0" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Microsoft.Web.Optimization" version="1.0.0-beta" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.1.0" targetFramework="net40" />
  <package id="Modernizr" version="2.0.6" />
  <package id="Newtonsoft.Json" version="4.5.6" />
  <package id="SignalR" version="0.5.0" />
  <package id="SignalR.Hosting.AspNet" version="0.5.0" />
  <package id="SignalR.Hosting.Common" version="0.5.0" />
  <package id="SignalR.Js" version="0.5.0" />
  <package id="SignalR.Sample" version="0.3.1" />
  <package id="SignalR.Server" version="0.5.0" />
  <package id="SinglePageApplication" version="4.0.20126.16343" />
  <package id="System.Json" version="4.0.20126.16343" />
  <package id="System.Web.Providers" version="1.1" />
  <package id="System.Web.Providers.Core" version="1.0" />
  <package id="upshot" version="1.0.0.0" />
  <package id="WindowsAzure.ServiceBus" version="2.1.3.0" targetFramework="net40" />
</packages>